body {
    background-color: #93c8f0;
}

#addNew {
    display: flex;
    justify-content: space-between;
}

.accordion-body{
    background-color: #979797;
}

.list-group {
    --bs-list-group-bg: #c1c6bb;
    --bs-list-group-action-hover-bg: #87b9eb;
}